<div class="square">
<form action="{$gvar.l_global}editar_profesor.php?option=select" method="post">

<b>Editar profesor</b><br/><br/>

        <b>Ingrese la cédula del profesor: </b><input type='text' name='cedula'/><br/>
        <input type='submit' value='Enviar'>
</form>
</div>