<div class="square">
<form action="{$gvar.l_global}editar_profesor.php?option=upd" method="post">

<b>Profesor seleccionado</b><br/><br/>
{if isset($profesor)}
    <b>Cédula: </b><input type='text' name='cedula' value='{$profesor[0]->get('cedula')}'/><br/>
    <input type="hidden" name="cedula_old" value="{$profesor[0]->get('cedula')}"/>
    <b>Nombre: </b><input type='text' name='nombre' value='{$profesor[0]->get('nombre')}'/><br/>
    <b>Fecha de nacimiento: </b><input type='text' name='fecha' value='{$profesor[0]->get('fecha')}'/><br/>
    <b>Lugar de nacimiento: </b><input type='text' name='lugar_nacimiento' value='{$profesor[0]->get('lugar_nacimiento')}'/><br/>
    <b>Título: </b><input type='text' name='titulo' value='{$profesor[0]->get('titulo')}'/><br/>
    <b>Departamento: </b><input type='text' name='departamento' value='{$profesor[0]->get('departamento')}'/><br/>
    <input type='submit' value='Editar'>
    {/if}
</form>
</div>