<div class="square">
    <b>Bienvenido</b><br/>
    <a href="registrar_actuacion.php">Registrar actuacion</a><br/>
    <a href="eliminar_actuacion.php">Eliminar actuacion</a><br/>
    <a href="lsita_elenco.php">Lista elenco</a>
</div>