<div class="square">
<form action="{$gvar.l_global}registrar_profesor.php?option=add" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td>
<b>Agregar un profesor</b><br /><br />
<b>Ingrese la cédula:</b><input type="text" name="cedula" /><br />
<b>Ingrese el nombre:</b> <input type="text" name="nombre" /><br />
<b>Ingrese el fecha de nacimiento:</b> <input type="text" name="fecha" /><br />
<b>Ingrese el lugar de nacimiento:</b> <input type="text" name="lugar_nacimiento" /><br />
<b>Ingrese el título:</b> <input type="text" name="titulo" /><br />
<b>Ingrese el departamento:</b> <input type="text" name="departamento" /><br />
<input class="btn btn-primary" type="submit" value="Registrar" />
</td></tr></table>
</form>
</div>